.Supreme-Container-Leader{
    display: flex;
    justify-content: center;
}

.Container{
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    width: 840%;
}

.Title{
    margin-bottom: 30px;
    font-family: roboto;
}

.button{
    color: black;
}

.option{
    margin-top: 20px;
}

.butao{
    margin-top: 20px;
    margin-left: 15px;
    height: 30px;
    background-color: rgb(192, 178, 178);
    border-radius: 10%;
    width: 40px;
}

.input_link, .input_name, .input_pass{
    width: 250px;
    padding: 8px 8px;
    border-radius: 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.472);
    color: white;
    transition: all 0.4s;

}

.checkbox{
    outline: 1px solid lightblue;
    margin-right: 10px;
    margin-left: 15px;

}

.button_submit{
    margin-top: 30px;
}

.input_name{
    width: 80px;
    margin-left: 10px;
}

td, th {
    margin-right: 70px;
    text-align: left;
    padding: 8px;
  }

.tabela {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

.buttonLink{
    margin-top: 20px;
    margin-bottom: 50px;
}

.center{
    display: flex;
    justify-content: center;
}

.input_pass{
    margin-top: 50px;
}

@media (max-width: 800px) {
    .input_link{
        width: 120px;
    }
    
    td, th {
        margin-right: 60px;
        text-align: left;
      }
      .input_name{
        width: 80px;
        margin-left: 20px;
    }
  }

