.container{
    border: 3px solid;
    height: 100px;
    display: flex;
    background-color: #212121;
}

.holdInfo{
    
    border-left: 3px solid;
    width: 400px;
    display: flex;
    align-content: center;
}


.titulo{
    width: 300px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
}

.Picture{
    width: 100px;
    
}

.checkbox{
    outline: 1px solid lightblue;

    margin-top: 10px;

}

.description{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
}

@media (max-width: 800px) {
   .holdInfo{
       width: 190px;
   }

   .titulo{
        padding: 10px;
   }

   .description{
       padding: 10px;
   }
  }
